html, body {
  position: relative;
  height: 1950px;
  max-width: 100%;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
html {
  background-color: rgba(0, 0, 0, 0.888);
  scroll-behavior: smooth;
}


.text1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 60px;
    left: 600px;
    text-decoration-line: underline;
    text-decoration-color: hsl(242, 100%, 62%);
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    cursor: pointer;
    color: white;
  }
  .text2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 60px;
    left: 650px;
    text-decoration-line: underline;
    text-decoration-color:hsl(242, 100%, 62%) ;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    cursor: pointer;
    color: white;
  }

.RA {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-color: grey;
    border-width: 4px;
    height: 55px;
    width: 55px;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    top: 50px;
    left: 40px;
  }
.contact {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-color: grey;
    border-width: 4px;
    height: 90px;
    width: 200px;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: Bold;
    font-size: 27px;
    position: relative;
    top: 65px;
    left: 1200px;
    cursor: pointer;
  }
.rect {
    border: none;
    background-color: hsl(242, 100%, 62%);
    height: 40px;
    width: 101vw;
    position: relative;
    bottom: 67px;
    right: 20px;
  }
.image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: black;
  overflow:hidden;
  border: 8px solid grey;
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: border-color 0.3s;
  will-change: border-color;
  transform: translateZ(0);
}
.image:hover {
  border-color: hsl(242, 100%, 62%);
}
.image img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  content: url('united.jpg');
}
.text3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: white;
  top: 65px;
}

.box{
  background-color: rgba(17,24,39);
  color: white;
  width: 100vw;
  height: 500px;  
  position: relative;
  right: 5px;
  top: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.box p:first-of-type {
  margin-bottom: 150px;
  position: relative;
  top: 30px;
}

.abt{
  color:white;
  text-align: left;
  position: relative;
  top: 50px;
  left: 150px;
  scroll-margin-left: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.me{
  color:white;
  text-align: left;
  position: relative;
  left: 140px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  width: 50vw;
  max-width: 50vw;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  top: 20px;
}

.img1 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: black;
  overflow:hidden;
  border: 8px solid grey;
  position: relative;
  margin-left: auto;
  cursor: pointer;
  transition: border-color 0.3s;
  bottom: 230px;
  right: 200px;
  will-change: border-color;
  transform: translateZ(0);
}

.img1:hover {
  border-color: hsl(162, 92%, 75%);
}

.img1 img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  content: url('me3.jpg');
}

.rep{
  color:white;
  text-align: left;
  position: relative;
  bottom: 500px;
  left: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

a{
  color: hsl(162, 92%, 75%);
  text-decoration: none;
}

a:hover{
  color: hsl(162, 92%, 75%);
  text-decoration: none;
  cursor: pointer;
}

.rect1 {
  border: none;
  background-color: hsl(162, 47%, 58%);
  height: 100px;
  max-width: 101vw;
  max-width: 101vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 300px;
  border-radius: 20px;
  padding-top: 55px;
}

.m3{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: 410px;
}

.m4{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: 430px;
}

.m5{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: 590px;
}

.btn4{
    background-color: hsl(162, 47%, 58%);
    border-color: hsl(162, 47%, 58%);
    border-style: solid;
    border-width: 1px;
    color: white;
    height: 80px;
    width: 80px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 20px;
    transition: background-color 1s, color 0.1s;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 790px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn4:hover {
  background-color: rgba(0, 0, 0, 0.888);
  color: hsl(162, 47%, 58%);
}

.btn4:active {
  opacity: 0.7;
}